
    /*paleta de colores/*/
    $primario: #FC0176;
    $secundario: #222222;
    $terciario: #444444;
    $button: #FC0176 ;


    /*espacios*/
    $espacio-lg: 48px;
    $espacio-md: 36px;
    $espacio-sm: 24px;
    $espacio-xs: 12px;

    /*font-famili*/
    $font1: 'Albert Sans', sans-serif;
    $font2: 'Barlow', sans-serif;
    $font3: 'Roboto Slab', serif;

    /*font-sizes*/
    $text-xxl:64px;
    $text-xl: 48px;
    $text-m: 32px;
    $text-s: 20px;
    $text-xs: 16px;
    $text-xxs: 14px;

    
