<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DONUT</title>
    <link rel="stylesheet" href="../css/translated.css">
    <link rel="shortcut icon" href="../media/favicon.svg" type="image/x-icon">
</head>
<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <a href="../index.html">
                <img src="../media/DONUT.svg" alt="" class="main-header-logo">
            </a>
            <ul class="main-menu">
                <li class=" "><a class="header-item header-item-active" href="../index.html">inicio</a></li>
                <li class=" "><a class="header-item header-item-active" href="./tienda.html">tienda</a></li>
                <li class=" "><a class="header-item header-item-active" href="../index.html#section-info">info</a></li>
                <li class=" "><a class="header-item header-item-active" href="">login</a></li>
            </ul>
        </nav>    
    </header>
    <form>
    <div class="loginn"> 
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">no compartas tu mail ni contraseña con nadie</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary"> <a href="../index.html">Enviar</a></button>
      </form>
    </div>  
    <div>
        <footer class="footer">
         <a href="">
             <img src="../media/donutfooter.svg" alt="" class="footer-logo">
         </a>
         <nav class="footer-nav">
             <ul>
                 <li class="footer-li">Somos las mejores donas del pais</li>
                 <li class="footer-li">Ubica tu tienda mas cercana</li>
                 <li class="footer-li">Contacto Donas@lasmejores.com</li>
             </ul>
         </nav>
         <h3 class="firma">&copy; El Tomi Designs</h3>
        </footer>
     </div> 
    
</body>
</html>
