<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DONUT</title>
    <link rel="stylesheet" href="../css/translated.css">
    <link rel="shortcut icon" href="../media/favicon.svg" type="image/x-icon">
</head>
<body>
    <header class="main-header">
        <nav class="main-header-nav">
            <a href="../index.html">
                <img src="../media/DONUT.svg" alt="" class="main-header-logo">
            </a>
            <ul class="main-menu">
                <li class=" "><a class="header-item header-item-active" href="../index.html">inicio</a></li>
                <li class=" "><a class="header-item header-item-active" href="./tienda.html">tienda</a></li>
                <li class=" "><a class="header-item header-item-active" href="../index.html#section-info">info</a></li>
                <li class=" "><a class="header-item header-item-active" href="./login.htm">login</a></li>
            </ul>
        </nav>    
    </header>
    <div class="row row-cols-1 row-cols-md-5 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="../media/1.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Choco Dona</h5>
            <p class="card-text">La dona de chocolate tiene un gran poder psicoactivo, es capaz de dejarte dormido en los primeros diez minutos de tu serie serie favorita</p>            
            <small class="text-muted">Ultima actualizacion 5 minutos</small>
          </div>
          <div class="card-footer">
            <a href="./buysafe.html" class="btn btn-primary">Comprar YA!</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../media/2.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Chispitas</h5>
            <p class="card-text">Son chispitas de chocolate de sitintos colores, asi que tus dientes no van a sufrir, son chispitas blandas no duras tranquilo!</p>
            <small class="text-muted">Ultima actualizacion 15 minutos</small>
          </div>
          <div class="card-footer">
            <a href="./buysafe.html" class="btn btn-primary">Comprar YA!</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../media/3.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cara Rosa</h5>
            <p class="card-text">Dona rosa, su BAJO contenido en azucar es tanto que hasta tu abuela las puede comer!, sabes que es lo mejor?? tambien pueden los celiacos!</p>
            <small class="text-muted">Ultima actualizacion 12 minutos</small>
          </div>
          <div class="card-footer">
            <a href="./buysafe.html" class="btn btn-primary">Comprar YA!</a>
          </div>
        </div>
      </div>      
      <div class="col">
        <div class="card h-100">
          <img src="../media/1.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Choco Dona</h5>
            <p class="card-text">La dona de chocolate tiene un gran poder psicoactivo, es capaz de dejarte dormido en los primeros diez minutos de tu serie serie favorita</p>
            <small class="text-muted">Ultima actualizacion 5 minutos</small>
          </div>
          <div class="card-footer">
            <a href="./buysafe.html" class="btn btn-primary">Comprar YA!</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../media/2.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Chispitas</h5>
            <p class="card-text">Son chispitas de chocolate de sitintos colores, asi que tus dientes no van a sufrir, son chispitas blandas no duras tranquilo!</p>
            <small class="text-muted">Ultima actualizacion 15 minutos</small>
          </div>
          <div class="card-footer">
            <a href="./buysafe.html" class="btn btn-primary">Comprar YA!</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../media/3.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cara Rosa</h5>
            <p class="card-text">Dona rosa, su BAJO contenido en azucar es tanto que hasta tu abuela las puede comer!, sabes que es lo mejor?? tambien pueden los celiacos!</p>
            <small class="text-muted">Ultima actualizacion 12 minutos</small>
          </div>
          <div class="card-footer">
            <a href="./buysafe.html" class="btn btn-primary">Comprar YA!</a>
          </div>
        </div>
      </div>  
      <div class="col">
        <div class="card h-100">
          <img src="../media/1.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Choco Dona</h5>
            <p class="card-text">La dona de chocolate tiene un gran poder psicoactivo, es capaz de dejarte dormido en los primeros diez minutos de tu serie serie favorita</p>
            <small class="text-muted">Ultima actualizacion 5 minutos</small>
          </div>
          <div class="card-footer">
            <a href="./buysafe.html" class="btn btn-primary">Comprar YA!</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../media/2.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Chispitas</h5>
            <p class="card-text">Son chispitas de chocolate de sitintos colores, asi que tus dientes no van a sufrir, son chispitas blandas no duras tranquilo!</p>
            <small class="text-muted">Ultima actualizacion 15 minutos</small>
          </div>
          <div class="card-footer">
            <a href="./buysafe.html" class="btn btn-primary">Comprar YA!</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../media/3.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cara Rosa</h5>
            <p class="card-text">Dona rosa, su BAJO contenido en azucar es tanto que hasta tu abuela las puede comer!, sabes que es lo mejor?? tambien pueden los celiacos!</p>
            <small class="text-muted">Ultima actualizacion 12 minutos</small>
          </div>
          <div class="card-footer">
            <a href="./buysafe.html" class="btn btn-primary">Comprar YA!</a>
          </div>
        </div>
      </div>  
      <div class="col">
        <div class="card h-100">
          <img src="../media/1.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Choco Dona</h5>
            <p class="card-text">La dona de chocolate tiene un gran poder psicoactivo, es capaz de dejarte dormido en los primeros diez minutos de tu serie serie favorita</p>
            <small class="text-muted">Ultima actualizacion 5 minutos</small>
          </div>
          <div class="card-footer">
            <a href="./buysafe.html" class="btn btn-primary">Comprar YA!</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../media/2.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Chispitas</h5>
            <p class="card-text">Son chispitas de chocolate de sitintos colores, asi que tus dientes no van a sufrir, son chispitas blandas no duras tranquilo!</p>
            <small class="text-muted">Ultima actualizacion 15 minutos</small>
          </div>
          <div class="card-footer">
            <a href="./buysafe.html" class="btn btn-primary">Comprar YA!</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../media/3.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cara Rosa</h5>
            <p class="card-text">Dona rosa, su BAJO contenido en azucar es tanto que hasta tu abuela las puede comer!, sabes que es lo mejor?? tambien pueden los celiacos!</p>
            <small class="text-muted">Ultima actualizacion 12 minutos</small>
          </div>
          <div class="card-footer">
            <a href="./buysafe.html" class="btn btn-primary">Comprar YA!</a>
          </div>
        </div>
      </div>  <div class="col">
        <div class="card h-100">
          <img src="../media/1.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Choco Dona</h5>
            <p class="card-text">La dona de chocolate tiene un gran poder psicoactivo, es capaz de dejarte dormido en los primeros diez minutos de tu serie serie favorita</p>
            <small class="text-muted">Ultima actualizacion 5 minutos</small>
          </div>
          <div class="card-footer">
            <a href="./buysafe.html" class="btn btn-primary">Comprar YA!</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../media/2.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Chispitas</h5>
            <p class="card-text">Son chispitas de chocolate de sitintos colores, asi que tus dientes no van a sufrir, son chispitas blandas no duras tranquilo!</p>
            <small class="text-muted">Ultima actualizacion 15 minutos</small>
          </div>
          <div class="card-footer">
            <a href="./buysafe.html" class="btn btn-primary">Comprar YA!</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="../media/3.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cara Rosa</h5>
            <p class="card-text">Dona rosa, su BAJO contenido en azucar es tanto que hasta tu abuela las puede comer!, sabes que es lo mejor?? tambien pueden los celiacos!</p>
            <small class="text-muted">Ultima actualizacion 12 minutos</small>
          </div>
          <div class="card-footer">
            <a href="./buysafe.html" class="btn btn-primary">Comprar YA!</a>
          </div>
        </div>
      </div>  
    </div>  
    <div>
      <footer class="footer">
       <a href="">
           <img src="../media/donutfooter.svg" alt="" class="footer-logo">
       </a>
       <nav class="footer-nav">
           <ul>
               <li class="footer-li">Somos las mejores donas del pais</li>
               <li class="footer-li">Ubica tu tienda mas cercana</li>
               <li class="footer-li">Contacto Donas@lasmejores.com</li>
           </ul>
       </nav>
       <h3 class="firma">&copy; El Tomi Designs</h3>
      </footer>
   </div> 
</body>
</html>